@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #00098a;
  --secondary-color: #fda741;
  --gray-color: #677294;
  --gray-bg: #f3f3f3;
}

body {
  background: #ffffff;
  margin: 0;
  font-family: "Poppins";
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

h2 {
  font-size: 2rem;
}

.App {
  width: 100vw;
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 92%;
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section {
    &:before {
      content: "";
      position: absolute;
      width: 10%;
      height: 20em;
      background: var(--primary-color);
      left: 0;
      top: -4em;
    }

    &:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 20em;
      background: url("./assets/dots.svg") no-repeat;
      left: 4.5em;
      top: 2em;
    }
  }
}
